<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>1c.png</string>
		<key>box</key>
		<array>
			<string>0,0,3,1.5</string>
			<string>0,1.5,3,1.5</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>2c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1.5,3</string>
			<string>1.5,0,1.5,3</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>3c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1.5,1.5</string>
			<string>1.5,0,1.5,3</string>
			<string>0,1.5,1.5,1.5</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>4c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1.5,3</string>
			<string>1.5,0,1.5,1.5</string>
			<string>1.5,1.5,1.5,1.5</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>5c.png</string>
		<key>box</key>
		<array>
			<string>0,0,3,1.5</string>
			<string>0,1.5,1.5,1.5</string>
			<string>1.5,1.5,1.5,1.5</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>6c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1.5,1</string>
			<string>1.5,.0,1.5,2</string>
			<string>0,1,1.5,2</string>
			<string>1.5,2,1.5,1</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>7c.png</string>
		<key>box</key>
		<array>
			<string>0,0,2,1.5</string>
			<string>2,0,1,1.5</string>
			<string>0,1.5,1,1.5</string>
			<string>1,1.5,2,1.5</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>8c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1,1.5</string>
			<string>1,0,2,1.5</string>
			<string>0,1.5,2,1.5</string>
			<string>2,1.5,1,1.5</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>9c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1.5,1.5</string>
			<string>1.5,0,1.5,1.5</string>
			<string>0,1.5,1.5,1.5</string>
			<string>1.5,1.5,1.5,1.5</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>10c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1.5,1.5</string>
			<string>1.5,0,1.5,1.5</string>
			<string>0,1.5,3,1.5</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>11c.png</string>
		<key>box</key>
		<array>
			<string>0,0,3,2</string>
			<string>0,2,1,1</string>
			<string>1,2,1,1</string>
			<string>2,2,1,1</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>12c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1,2</string>
			<string>1,0,2,2</string>
			<string>0,2,1,1</string>
			<string>1,2,2,1</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>13c.png</string>
		<key>box</key>
		<array>
			<string>0,0,2,2</string>
			<string>2,0,1,2</string>
			<string>0,2,2,1</string>
			<string>2,2,1,1</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>14c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1,1.5</string>
			<string>1,0,1,1.5</string>
			<string>2,0,1,1.5</string>
			<string>0,1.5,1,1.5</string>
			<string>1,1.5,1,1.5</string>
			<string>2,1.5,1,1.5</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>15c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1,1</string>
			<string>0,1,1,1</string>
			<string>0,2,1,1</string>
			<string>1,2,1,1</string>
			<string>2,2,1,1</string>
			<string>1,0,2,2</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>16c.png</string>
		<key>box</key>
		<array>
			<string>0,0,2,2</string>
			<string>0,2,1,1</string>
			<string>1,2,1,1</string>
			<string>2,2,1,1</string>
			<string>2,0,1,1</string>
			<string>2,1,1,1</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>17c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1,1</string>
			<string>1,0,1,1</string>
			<string>2,0,1,1</string>
			<string>0,1,1,1</string>
			<string>0,2,1,1</string>
			<string>1,1,2,2</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>18c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1,1</string>
			<string>1,0,1,1</string>
			<string>2,0,1,1</string>
			<string>2,1,1,1</string>
			<string>2,2,1,1</string>
			<string>0,1,2,2</string>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>-</string>
		<key>color</key>
		<string>255,255,255</string>
		<key>Image</key>
		<string>19c.png</string>
		<key>box</key>
		<array>
			<string>0,0,1,1</string>
			<string>1,0,1,1</string>
			<string>2,0,1,1</string>
			<string>0,1,1,1</string>
			<string>1,1,1,1</string>
			<string>2,1,1,1</string>
			<string>0,2,1,1</string>
			<string>1,2,1,1</string>
			<string>2,2,1,1</string>
		</array>
	</dict>
</array>
</plist>
